{% extends 'base.html' %}
{% block title %}
<title>Biblioteka | O nas</title>
{% endblock %}


{% block content %}
<center>

<h1>Witaj na stronie biblioteki online</h1>
<div class="aboutbox"> 
<strong><p class="abouttxt">Ten projekt rozwijany jest po to by ułatwić czytelnikom dostęp do literatury. Jeżeli chcesz skorzystać z usług niezależnej biblioteki i otrzymać dostep do darmowych ebooków wystarczy, że utworzysz darmowe konto w zakładce Rejestracja. Po zalogowaniu otrzymasz możliwość pobierania ebooków, które są już dodane na stronie oraz możliwość dodawania własnych pozycji do bazy biblioteki, żeby dzielić się nimi z innymi użytkownikami.
Należy pamiętać, że dodana pozycja ukaże się na stronie dopiero po jej akceptacji przez administratora biblioteki.    
</p></strong>
<h2>Udanej lektury!</h2>
</div>
</center>

  
   {% endblock %}