{% extends 'base.html' %}

{% block title %}
<title>Biblioteka | Rejestracja</title>
{% endblock %}


{% block content %}

<div class = 'header'>
    <h2 class="change_h2">Wypełnij formularz by utworzyć darmowe konto</h2>
</div>


<div class = 'holder'>

    <form action = '#' method = 'POST'>
      {% csrf_token %}
      <div id = 'form-control' class="change">
          <label class = labelz>Nazwa Użytkownika:</label>
          {{signup_form.username}}
        </div>

        <div id = 'form-control' class="change">
          <label class = labelz>Email:</label>
          {{signup_form.email}}
        </div>
  
      <div id = 'form-control' class="change">
          <label class = labelz>Hasło:</label>
          {{signup_form.password1}}
        </div>
  
       <div id = 'form-control' class="change">
          <label class = labelz>Powtórz Hasło:</label>
          {{signup_form.password2}}
        </div>
      
        {{signup_form.errors}}

      <button type = 'submit' id = 'submitButton'>Rejestracja</button>

        
      <div id = 'haveAnAccount'>
        <p>Jesteś już zarejestrowany?</p>
        <a class="change_a" href = "{% url 'login' %}"><strong>Zaloguj się</strong></a>
      </div>

    </form>
  </div>
  {% endblock %}